@import '../../styles/variables';
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  max-width: 1920px;
}

.welcome-message {
  font-size: 14px;
  font-weight: 400;
}

.profile-search-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-image {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid $primary-color-text;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: $secondary-color-background;
  border-radius: 5px;
  padding: 0 30px 0 10px;
  .search-input {
    padding: 10px;
    background-color: $secondary-color-background;
    border-radius: 5px;
    border: none;
    font-family: $font-family;
    color: $primary-color-text;
  }
  .search-icon {
    font-size: 15px;
    color: $secondary-color-text;
  }
}
