@import './variables';

.dashboard {
  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

  }
  &-container {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  &-content {
    margin-top: 20px;
    overflow-y: scroll;
    width :calc(100% - 75px);
    margin-left: 20px;
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
    animation: apparition 0.5s ease-in-out;


    &::-webkit-scrollbar {
      visibility: hidden;
    }

    @keyframes apparition {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }

    }
  }

  &-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
