$primary-color: #C228B6;
$primary-color-background: #0A0C26;
$secondary-color: #4474DC;
$secondary-color-background: #11132B;

$primary-color-text: #ffffff;
$secondary-color-text: #bababa;

$sidebar-width: 75px;

$number-of-columns: 4;

$gradient: linear-gradient(90deg, #C228B6 0%, #4474DC 100%);

//import fonts Oswald from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
$font-family: 'Oswald', sans-serif;